### Program ###
/stdenis.filler
filler.trace
log

### Build ###
# Temporary build files
/bin/

### Debug files ###
.gdb_history
*.dSYM/
*_files/

### macOS ###
# General
.DS_Store

### CLion ###
.idea/

### Emacs ###
*~
\#*\#
.\#*
